/* Banner */

.header-image {
	background-image: url("../home/banner.jpg");
}

/* Author Photo */

.author-photo {
	width: 220px;
	margin: 20px auto;
	text-align: center;
}

.author-photo img {
	border-radius: 30%;
	width: 150px;
	height: 150px;
	margin: 0 0 10px;
	box-shadow: 0 0 4px #ffae164b;
}

@media screen and (min-width: 600px) {
	.author-photo img {
		width: 120px;
		height: 120px;
	}
}