.gallery {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}

.gallery img {
	padding: 10px;
	width: 100%;
	height: auto;
}