/* Variables */

body {
	--color-main: #d9dad6;
	--color-accent: #ff752b;
	--color-support: #394945;
	--color-link: #ff752b;
	--color-example: #e9c74c;
	--color-caption: #676a68;
	--color-background: #212122;
	--font-body: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-title: 'Bebas Neue', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-body);
	background-color: var(--color-background);
	color: var(--color-main);
}

/* Utility */

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* Banner */

.header-image {
	background-image: url("../home/banner.jpg");
	/* Fallback */
	background-position: center;
	background-size: cover;
	height: 160px;
}

h1 {
	padding-top: 30px;
	font-family: var(--font-title);
	font-weight: normal;
	text-align: center;
	font-size: 5em;
	color: white;
	text-shadow: 0 3px 8px #0003;
}

@media screen and (min-width: 600px) {
	h1 {
		font-size: 4.5em;
	}
}

/* Page Wrap */

.content-wrap {
	padding: 1.5em 1.5em;
}

@media screen and (min-width: 600px) {
	.content-wrap {
		padding: 1.5em 12%;
	}
}

/* Sections */

main>section {
	border-bottom: var(--color-support) 8px dotted;
}

main>section:last-child {
	border-bottom: none;
}

h2 {
	font-family: var(--font-title);
	color: var(--color-accent);
	padding: 0.3em 0;
	font-size: 3em;
	font-weight: normal;
	text-shadow: 0 0 3px #ffbc8f25;
}

/* Section Text */

section p {
	margin: 0.2em auto;
	line-height: 1.8em;
}

section p.narrow {
	width: 80%;
}

section p:last-of-type {
	margin-bottom: 1.5em;
}

/* Section Links */

section a{
	color: var(--color-link);
	text-decoration: none;
}

/* Footer */

footer {
	border-top: var(--color-support) 8px solid;
	background-color: #1f1f1f;
}

.footer-wrap {
	margin: 0 auto;
	padding: 1em 0;
	width: 15em;
}

address {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 15px;
	font-style: normal;
}

footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.footer-icon-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0.5em 0;
}

.footer-icon {
	color: var(--color-main);
}

/* Responsive Gallery */

.responsive-gallery {
	width: 80%;
	margin: 0 auto 1.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.responsive-gallery figure {
	text-align: center;
	width: 80%;
}

.responsive-gallery figure>* {
	width: 100%;
	height: auto;
}

.responsive-gallery img,
.responsive-gallery video {
	border-radius: 3px;
}
.responsive-gallery figcaption {
	color: var(--color-caption);
	font-size: 0.9em;
}

@media screen and (min-width: 600px) {
	.responsive-gallery {
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
	}

	.responsive-gallery figure {
		padding: 0 8px;
	}
}

/* Example List */

.example-list {
	list-style-type: none;
}

.example-list > li {
	border-left: var(--color-example) 4px solid;
	border-radius: 4px;
	padding: 0 5%;
	margin-bottom: 40px;
}

.example-list h3 {
	color: var(--color-example);
	font-family: var(--font-title);
	font-weight: normal;
	font-size: 2em;
	margin-bottom: 0.2em;
}